@import "tailwindcss";

.fade-left {
  -webkit-mask-image: linear-gradient(to right, transparent, black 30%);
  mask-image: linear-gradient(to right, transparent, black 30%);
}

.fade-right {
  -webkit-mask-image: linear-gradient(to left, transparent, black 30%);
  mask-image: linear-gradient(to left, transparent, black 30%);
}
